---
// import BackgroundGrid from '../components/BackgroundGrid.astro';
import Layout from '../layouts/Layout.astro';
import Svgs from '../components/Svgs.astro';
import Navbar from '../components/Navbar.astro';
import SocialMediaIcons from '../components/SocialMediaIcons.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
		<section class="hero">
			<div class="hero-container">
				<div class="hero-left">
					<div class="">
						<div class="img-g">
							<img class="emoji" src="../../src/assets/dan-designer-emoji-1.png" alt="">
							<div class="group-2">
								<div class="vectors">
									<div class="node"></div>
									<div class="line"></div>
									<div class="node"></div>
									<img class="fountain-pen" src="../../src/assets/fountain-pen-1.png" alt="">
								</div>
								<img class="img-name" src="../../src/assets/daniel.png" alt="">
							</div>
						</div>
						<img src="../../src/assets/sandoval.png" alt="">
					</div>
					<p class="hero-p">Juntos podemos crear experiencias excepcionales, fusionando diseño estético con funcionalidad técnica sólida. Comprometido con la excelencia.</p>
					<SocialMediaIcons />
				</div>
	
				<div class="hero-right">
					<div class="hero-skill-d design">
						<lord-icon
						class="lord-icon"
							src="https://cdn.lordicon.com/wloilxuq.json"
							trigger="hover"
							colors="primary:#cecece,secondary:#f8f8f8"
							state="hover-2"
							style="width:57px;height:57px">
						</lord-icon>
						<!-- <img src="../../src/assets/wired-outline-35-edit.gif" alt=""> -->
						<div class="title-skill">
							<h3>DISEÑADOR</h3>
							<div>
								<h3>GRAFICO & WEB</h3>
								<h3 class="dark-text">.</h3>
							</div>
						</div>
						<p>Diseño Gráfico, Logo & Branding, UI & UX</p>
					</div>
					<div class="hero-skill-d dev">
						<lord-icon
							src="https://cdn.lordicon.com/dtgezzsi.json"
							trigger="hover"
							colors="primary:#cecece,secondary:#f8f8f8"
							style="width:70px;height:70px">
						</lord-icon>
						<!-- <img src="../../src/assets/wired-outline-742-multimedia-code-1.gif" alt=""> -->
						<div class="title-skill">
							<h3>DESARROLLADOR</h3>
							<div>
								<h3>DE SOFTWARE</h3>
								<h3 class="dark-text">.</h3>
							</div>
						</div>
						<p>Front end & Back end, REACT, NODEJS</p>
					</div>
				</div>
			</div>
		</section>

		<div class="poly">

		</div>
		<!-- <Svgs /> -->
		<!-- <BackgroundGrid /> -->
	</main>
</Layout>

<style>
	main {
		background-color: var(--orange);
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.hero {
		width: 100%;
		/* height: 100vh; */
		margin-top: 100px;
		background-color: var(--orange);
	}
	.hero-container {
		display: flex;
		justify-content: center;
		gap: 100px;
		/* outline: 1px solid black; */
	}
	.hero-left {
		width: fit-content;
		margin-left: 30px;
		/* outline: 1px solid lime; */
	}
	.node {
		width: 12px;
		height: 12px;
		border: 3px solid #EDEDED;
	}
	.line {
		width: 300px;
		height: 3px;
		background: #EDEDED;
	}
	.img-g {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	.emoji {
		margin-right: -26px;
		margin-bottom: -6px;
		z-index: 1;
	}
	.img-name {
		margin-right: 0px;
		padding-bottom: 14px;
	}
	.vectors {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 70px;
		margin-right: -30px;
	}
	.fountain-pen {
		margin-top: 33px;
		margin-left: -6px;
	}
	.hero-p {
		width: 550px;
		font-family: 'Plus Jakarta Sans', sans-serif;
		color: var(--light-white);
		text-align: end;
		font-weight: 300;
		margin-top: 70px;
	}

	.hero-right {
		width: 550px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 100px;
		/* outline: 1px solid red; */
	}
	.hero-skill-d {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.hero-skill-d .lord-icon {
		width: 57px;
		height: 57px;
		transform: rotate(52.776deg);
		flex-shrink: 0;
		margin-top: 16px;
	}
	.hero-skill-d h3 {
		color: #F8F8F8;
		text-align: center;
		font-family: 'Passion One', cursive;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 31px; /* 64.583% */
		letter-spacing: 2.4px;
	}
	.hero-skill-d .dark-text {
		color: var(--dark-gray);
	}
	.title-skill {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
		gap: 20px;
	}
	.title-skill div {
		display: flex;
		justify-content: center;
	}
	.hero-skill-d p {
		font-family: 'Plus Jakarta Sans', sans-serif;
		color: var(--light-white);
		margin-top: 13px;
	}
	.dev .lord-icon {
		transform: rotate(0deg);
	}
</style>
