---
// interface Props {
//   title: string
//   body: string
//   href: string
// }

// const { href, title, body } = Astro.props
---

<section>
  <div class="services-container">
    <div class="description">
      <h3>diseño adaptativo.</h3>
      <p>Ser capaz de adaptarse, centrarse en el cliente, tener una comunicacion efectiva, y aportar versatilidad son cualidades valiosas para un diseñador; pero también es importante que el diseñador aporte su experiencia y conocimiento para lograr un equilibrio exitoso entre las expectativas del cliente y la creatividad profesional</p>
    </div>
    <div class="main-service">
      <div>
        <h2>diseño grafico & web<span>.</span></h2>
        <img src="" alt="icon">
      </div>
      <img src="" alt="horizontal-img">
      <div>
        <div>
          <button>Proyectos</button>
          <img src="" alt="dan-emoji">
        </div>
        <div>
          <p>+de</p>
          <h3>10</h3>
          <p>años de</p>
          <p>experiencia</p>
        </div>
      </div>
    </div>
  </div>
</section>


<style>

</style>