<div class="svgs">
  <svg class="icon-tools" version="1.190" id="Capa_209" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 800" style="enable-background:new 0 0 800 800;" xml:space="preserve">
    <style type="text/css">
      .st0{fill:none;stroke:#777777;stroke-width:50;stroke-linecap:square;stroke-miterlimit:133.3333;}
      .st1{fill:none;stroke:#777777;stroke-width:50;stroke-miterlimit:133.3333;}
    </style>
    <path class="st0" d="M85.9,27l69.8,671L400,773l244.3-75l69.8-671H85.9z"/>
    <path class="st0" d="M241,184.1h318l-36,392.6l-125.8,39.3l-125.8-39.3l-9-98.2"/>
    <path class="st1" d="M549.2,360.7H250.8"/>
  </svg>
  <!-- CSS FULL -->
  <svg class="icon-tools" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#777777" fill-rule="evenodd" d="M1.5,1.98975843e-15 L3.09355753,18.0557267 L9.99986611,20 L16.9059069,18.0557267 L18.5,0 L1.5,0 L1.5,1.98975843e-15 Z M15.0769709,5.85186222 L9.99370717,8.12461495 L9.9813893,8.12993559 L9.99370717,8.12993559 L14.8975585,8.12993559 L14.3352209,14.891627 L10.0014728,16.2147858 L9.99370717,16.2122655 L9.99370717,16.2147858 L5.63639442,14.8672641 L5.35522564,11.4620554 L5.36272348,11.4620554 L7.5103174,11.4620554 L7.51808301,11.4620554 L7.6586674,13.2259871 L9.97389147,13.8373005 L9.99370717,13.8314198 L9.99370717,13.8342201 L12.3908719,13.1282554 L12.5550209,10.2864744 L9.99370717,10.2783534 L5.21464125,10.2615514 L5.05076002,8.13021563 L9.99370717,5.97731728 L10.2818382,5.85214226 L9.99370717,5.85214226 L4.86331417,5.85214226 L4.60544223,3.67124055 L9.99370717,3.67124055 L15.2879814,3.67124055 L15.0769709,5.85186222 L15.0769709,5.85186222 Z"></path> </g></svg>
  <svg class="icon-tools" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 800" style="enable-background:new 0 0 800 800;" xml:space="preserve">
    <style type="text/css">
      .st10{fill:none;stroke:#777777;stroke-width:40;stroke-miterlimit:10;}
      .st11{fill:#777777;}
    </style>
    <g id="Capa_3">
      <path class="st10" d="M753.3,779.2H47c-14.4,0-26-11.6-26-26V46.8c0-14.4,11.6-26,26-26h706.3c14.4,0,26,11.6,26,26v706.3
        C779.3,767.5,767.7,779.2,753.3,779.2z"/>
    </g>
    <path class="st11" d="M186.3,646.5l61.2-37.1c11.8,20.9,22.6,38.7,48.3,38.7c24.7,0,40.3-9.7,40.3-47.2V345.3h75.2V602
      c0,77.9-45.6,113.3-112.2,113.3C239,715.3,204.1,684.1,186.3,646.5 M452.2,638.5l61.2-35.4c16.1,26.3,37.1,45.6,74.1,45.6
      c31.2,0,51-15.6,51-37.1c0-25.8-20.4-34.9-54.8-49.9l-18.8-8.1c-54.2-23.1-90.2-52.1-90.2-113.3c0-56.4,43-99.4,110.1-99.4
      c47.8,0,82.2,16.7,106.9,60.1l-58.5,37.6c-12.9-23.1-26.8-32.2-48.3-32.2c-22,0-36,14-36,32.2c0,22.6,14,31.7,46.2,45.7l18.8,8.1
      c63.9,27.4,99.9,55.3,99.9,118.1c0,67.7-53.2,104.7-124.6,104.7C519.3,715.3,474.2,682,452.2,638.5"/>
  </svg>
  <svg class="icon-tools" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.66683 1.25C6.41167 1.25 4.5835 3.07817 4.5835 5.33333C4.5835 6.70965 5.26442 7.92693 6.30776 8.66667C5.26442 9.4064 4.5835 10.6237 4.5835 12C4.5835 13.3763 5.26442 14.5936 6.30777 15.3333C5.26442 16.0731 4.5835 17.2903 4.5835 18.6667C4.5835 20.9218 6.41167 22.75 8.66683 22.75C10.922 22.75 12.7502 20.9218 12.7502 18.6667V15.1624C13.4539 15.738 14.3534 16.0833 15.3335 16.0833C17.5887 16.0833 19.4168 14.2552 19.4168 12C19.4168 10.6237 18.7359 9.4064 17.6926 8.66666C18.7359 7.92693 19.4168 6.70965 19.4168 5.33333C19.4168 3.07817 17.5887 1.25 15.3335 1.25H8.66683ZM11.2502 14.5833H8.66683C7.24009 14.5833 6.0835 13.4267 6.0835 12C6.0835 10.5733 7.24009 9.41666 8.66683 9.41667L11.2502 9.41666L11.2502 12L11.2502 14.5833ZM8.66683 7.91667H11.2502V2.75H8.66683C7.24009 2.75 6.0835 3.9066 6.0835 5.33333C6.0835 6.76007 7.24009 7.91667 8.66683 7.91667ZM17.9168 5.33333C17.9168 6.75914 16.7617 7.91517 15.3363 7.91667L14.0432 7.91666L12.7502 7.91666L12.7502 2.75H15.3335C16.7602 2.75 17.9168 3.9066 17.9168 5.33333ZM12.7502 11.9968C12.7519 10.5726 13.9061 9.41838 15.3303 9.41667L15.336 9.41667C16.7616 9.41801 17.9168 10.5741 17.9168 12C17.9168 13.4267 16.7602 14.5833 15.3335 14.5833C13.9078 14.5833 12.7519 13.4284 12.7502 12.0032V11.9968ZM8.66683 16.0833C7.24009 16.0833 6.0835 17.2399 6.0835 18.6667C6.0835 20.0934 7.24009 21.25 8.66683 21.25C10.0936 21.25 11.2502 20.0934 11.2502 18.6667V16.0833H8.66683Z" fill="#777777"></path> </g>
  </svg>
</div>

<style>
  .svgs {
		display: flex;
		margin-top: 100px;
		margin-bottom: 500px;
		margin-left: 400px;
	}
	.icon-tools {
		width: 60px;
		height: 60px;
		/* border: 1px solid lime; */
	}
</style>